body {
    background: #ffffff;
    padding-left: 4em;
    font-family: 'Hind', sans-serif;
    line-height: auto;
}
header {
   font-size: 16px;
   font-weight: 300;
   padding-top: 3em;
   line-height: 20px;
   display: flex;
   justify-content: left;
   width: 750px; 
}
.phone {
    color: 	#0437F2;
    padding-right: 30px;
    font-weight: 400;
}
.email {
    color: 	#0437F2;
    padding-right: 30px;
    text-decoration: underline;
    font-weight: 400;
}
h1 {
    color: #0818A8;
    font-size: 75px;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}
h2 {
    font-size: 35px;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    padding-top: 0.5em;
}
h3 {
    color: 	#0437F2;
    font-size: 24px;
    font-weight: 400;
    line-height: 1em;
    margin: 0px;
    padding: 0px;
    padding-top: 1em;
}
h4 {
   font-size: 17px;
   font-weight: 500;
   text-transform: uppercase;
   line-height: 1.5em;
   margin: 0px;
   padding: 0px;
   padding-top: 0.5em;
}
p {
    margin: 0px;
    padding: 0px;
    padding-bottom: 0.5em;
    padding-right: 1em;
}
ul {
   font-size: 15px;
   font-weight: 500;
   list-style-type: square;
   line-height: 1em;
   margin: 0px;
   padding: 0px;
   padding-bottom: 0.5em;
   padding-left: 2rem;
}
.flex-margin-2col {
  display: flex; 
  justify-content: center;
  width: 1000px; 
}
.references {
    background: #0818A8;
    color: #ffffff;
    width: 400px;
    margin: 0px;
    padding: 0px;
    padding-left: 3em;
    padding-bottom: 5em;
    border-radius: 1em;
}
.references h3 {
    color: #ffffff;
}
.experience {
  display: flex;
  flex-direction: column;
  margin: 10px;
}